$white: #FBF5F3;
$black: #403F4C;
$blacker: #393E41;
$silver: #BFC0C0;
$red: #BD1E1E;
$font:'Saira', sans-serif;
body {
  margin: 0;
  padding: 0;
  font-family: $font;
  background-color: $white;
}
input {
  font-family: $font;
  color: $blacker;
  border-top: .1em solid $blacker;
  border-right: .1em solid $silver;
  border-bottom: .1em solid $silver;
  border-left: .1em solid $blacker;
  border-radius: 5px;

}
button {
  font-family: $font;
  color: $blacker;
  background-image: linear-gradient(to top right, $silver, $white);
  border-top: .1em solid $silver;
  border-right: .1em solid $blacker;
  border-bottom: .1em solid $blacker;
  border-left: .1em solid $silver;
  border-radius: 5px;
}
button:active {
  background-image: linear-gradient(to top right, $white, $silver);
  border-bottom: .1em solid $silver;
  border-left: .1em solid $blacker;
  border-top: .1em solid $blacker;
  border-right: .1em solid $silver;
}
.button-div {
  margin-bottom: 1em;
  button {
    font-size: 1.2em;
    width: 125px;
  }
}

.even {
  background-color: $silver;
  color: $blacker;
}
.odd {
  background-color: $white;
  color: $blacker;
}
//Confirmation Component
.unconfirm {
  display: none;
}
.confirm {
  z-index: 100;
  background-color: #FBF5F375;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  .confirm-box{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    border-radius: 5px;
    box-shadow: .1em .1em .1em $blacker, -.1em -.1em .1em $blacker, .1em -.1em .1em $blacker, -.1em .1em .1em $blacker;
    button{
      margin: .5em;
      width: 5em;
      height: 2em;
      border-radius: 5px;
    }
    p {
      margin: 0;
    }
  }

}

.landing-title {
  background-color:$red;
  font-size: 30px;
  padding: .1em 0 .1em .5em;
  color: $white;

}
.welcome-div {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $black;
  margin: 0;
  padding: 1em;
  h1 {
    font-size: 1.5em;
    margin: .5em 0;
    text-align: left;
    width: 100%;
    max-width: 600px;
  }
  p {
    line-height: 2em;
    max-width: 600px;
    border: 1px solid $black;
    padding: .5em;
    border-radius: 5px;
    background-color:$red;
    color: $white;
    margin: 1em 0;
  }
  button {
    min-width: 150px;
    padding: .1em;
    margin: 1em;
    border-radius: 5px;
    font-size: 1.2em;
  }
  
}

.breadcrumbs {
  margin: 4.5em 0 1em 0;
  display: flex;
  font-size: .9em;
  width: 90%;
  max-width: 400px;
  border: .1em $red solid;
  border-radius: 5px;
  margin-bottom: 1em;
  color: $white;
  box-shadow: .1em .1em .1em $blacker, -.1em -.1em .1em $blacker, .1em -.1em .1em $blacker, -.1em .1em .1em $blacker;
  span {
    flex: 1;
    text-align: center;
    border: .1em $red solid;
    background-color: $red;
  }
  .active {
    background-color: $white;
    color: $red;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
// AppHeader
.header-div {
  .app-header {
    position: fixed;
    width: calc(100% - .7em);
    background-color:$red;
    font-size: 30px;
    padding: .1em .3em .1em .5em;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  .hidden, .shown {
    top: 3.4em;
    display:flex;
    flex-direction: column;
    position: fixed;
    transition: .5s ease-in-out;
    width: 60%;
    max-width: 250px;
    z-index: 80;
  a, button{
    text-align: left;
    border-radius: 5px;
    border: 1px solid $white;
    color: $white;
    background-color: $red;
    padding: .5em;
    font-size: 1.5em;
    text-decoration: none;
    box-shadow: -.1em .1em .1em $black;
    transition: .4s ease-in-out;
    background-image: none;
  }
  .active-link{
    color: $red;
    background-color: $white;
    border-color: $red;
  }
}
.hidden {
  right: -100%;
}
.shown {
  right: -5%;
}
.full-menu {
  display:none;
}
}
// end AppHeader
.home, .orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.home-table, .orders-table {
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid $blacker;
  overflow: hidden;
  background-color: $red;
  width: 90%;
  box-shadow: .1em .1em .1em $blacker, -.1em -.1em .1em $blacker, .1em -.1em .1em $blacker, -.1em .1em .1em $blacker;
  td {
    font-size: 1em;
    height: 45px;
    padding-left:1em;
    width: 50%;
  }
  th {
    height: 30px;
    color: $white;
  }
  i {
    font-size: .8em;
  }
  tr {
    .left {
      border-radius: 5px 0 0 5px;
    }
    .right {
      border-radius: 0 5px 5px 0;
    }
  }
}
.inv-div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  table {
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 1em;
    border: 1px solid $blacker;
    // overflow: hidden;
    background-color: $red;
    width: 90%;
    box-shadow: .1em .1em .1em $blacker, -.1em -.1em .1em $blacker, .1em -.1em .1em $blacker, -.1em .1em .1em $blacker;
    td {
      font-size: 1em;
      height: 45px;
      padding-left:1em;
      overflow: hidden;

    }
    th {
      height: 30px;
      color: $white;
    }
    .data-one {
      border-radius: 5px 0 0 5px;
    }
    .data-two {
      width: 40%;
    }
    .data-three {
      border-radius: 0 5px 5px 0;
      padding: 0;
      text-align: center;
      button {
        font-size: 1.5em;
        background-image: none;
        background-color: transparent;
        border: none;
      }
    }
    .even {
      .data-three {    
        border-bottom: .1em solid $blacker;
        border-left: .1em solid $white;
        border-top: .1em solid $white;
        border-right: .1em solid $blacker;
      }
    }
    .odd {
      .data-three {
        border-bottom: .1em solid $blacker;
        border-left: .1em solid $silver;
        border-top: .1em solid $silver;
        border-right: .1em solid $blacker;
      }
    }
    i {
      font-size: .8em;
    }
  }
}

.input-order {
  form {
    display: flex;
    flex-wrap: wrap;
    .num {
      max-width: 100px;
    }
    h4 {
      margin:.1em 0;
      font-size: .8em;
    }
    input{
      margin-right: .5em;
    }
  }
}
.count-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 95%;
    max-width: 400px;
    margin: 0 0 1em 0;
    background-color: $red;
    border-radius: 10px;
    border: 1px solid $blacker;
    box-shadow: .1em .1em .1em $blacker, -.1em -.1em .1em $blacker, .1em -.1em .1em $blacker, -.1em .1em .1em $blacker;
    .form-div {
      display: flex;
      justify-content: space-between;
      input {
        padding: .1em;
        margin-left: .5em;
        width: 90%;
        background-color: $white;
        border-top: .1em solid $blacker;
        border-right: .1em solid $silver;
        border-bottom: .1em solid $silver;
        border-left: .1em solid $blacker;
        border-radius: 5px;
      }
      h4 {
        margin: .1em 0 .1em .5em;
        color: $white;
      }
      button{
        border-radius: 5px;
        width: 20%;
        font-size: 1.2em;
        margin: .1em .2em;
      }
      h2 {
        padding-left: .5em;
        font-size: 1.2em;
        margin: 0;
        text-align: left;
        width: 55%;
        color: $white;
      }
    }
  }
  table {
    margin: 0 .5em 1em .5em;
    max-width: 400px;
    border-radius: 10px;
    border: 1px solid $blacker;
    background-color: $red;
    box-shadow: .1em .1em .1em $blacker, -.1em -.1em .1em $blacker, .1em -.1em .1em $blacker, -.1em .1em .1em $blacker;
    td {

      border: .01em solid $blacker;
      font-size: 1em;
      height: 35px;
      button {
        width: 100%;
        font-size: 1.5em;
        background-color: transparent;
        background-image: none;
        border: none;
      }
      input {  
        border: none;    
        background-color: transparent;
        height: 100%;
  
      }
    }

    
    th {
      height: 35px;
      color: $white;
      button {
        height: 100%;
        width: 100%;
        font-size: 1.5em;

      }
      input {
        height: 100%;
        border-top: .1em solid $blacker;
        border-right: .1em solid $silver;
        border-bottom: .1em solid $silver;
        border-left: .1em solid $blacker;
      }
    }
    .even { 
      .data-one, .data-two, .data-three {
        border-top: .1em solid $blacker;
        border-right: .1em solid $white;
        border-bottom: .1em solid $white;
        border-left: .1em solid $blacker;
      }
      .data-four {
        border-bottom: .1em solid $blacker;
        border-left: .1em solid $white;
        border-top: .1em solid $white;
        border-right: .1em solid $blacker;
      }
  }
  .odd {
    .data-one, .data-two, .data-three {
      border-top: .1em solid $blacker;
      border-right: .1em solid $silver;
      border-bottom: .1em solid $silver;
      border-left: .1em solid $blacker;
    }
    .data-four {
      border-bottom: .1em solid $blacker;
      border-left: .1em solid $silver;
      border-top: .1em solid $silver;
      border-right: .1em solid $blacker;
    }
  }
    .data-one{
      border-radius: 5px 0 0 5px;
      overflow: hidden;

      input{
        width: 100%;
      }
    }
    .data-two {
      width: 35px;
      input {
        width: 90%;
        text-align: center;
      }
    }
    .data-three {
      width: 70px;
      input {
        width: 100%;
        text-align: center;
      }
    }
    .data-four, {
      width: 35px;
      border-radius: 0 5px 5px 0;
      overflow: hidden;
    }
    tfoot {
      button{
        border-radius: 0 5px 5px 0;
      }
      input{
        width: 100%;
        text-align: center;
        background-color: $white;
        border-radius: 5px 0 0 5px;
      }
    }
  }

}
.reports-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  table {
    margin: 0 .5em 1em .5em;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    border: 1px solid $blacker;
    overflow: hidden;
    background-color: $red;
    box-shadow: .1em .1em .1em $blacker, -.1em -.1em .1em $blacker, .1em -.1em .1em $blacker, -.1em .1em .1em $blacker;
    td {
     
      font-size: 1em;
      button {
        width: 100%;
        font-size: 1.5em;
        background-image: none;
        background-color: transparent;
        border: none;
      }
      a {
        color: inherit;
      }
    }
    th {
      height: 30px;
      color: $white;
    }
    .data-one {
      overflow: hidden;
      border-radius: 5px 0 0 5px;
      padding-left: .5em;
    }
    .data-two {
      text-align: center;
      padding: 0 .8em;
    }
    .data-three  {
      border-radius: 0 5px 5px 0;
      width: 35px;
    }
    .even {
      .data-three {    
        border-bottom: .1em solid $blacker;
        border-left: .1em solid $white;
        border-top: .1em solid $white;
        border-right: .1em solid $blacker;
      }
    }
    .odd {
      .data-three {
        
        border-bottom: .1em solid $blacker;
        border-left: .1em solid $silver;
        border-top: .1em solid $silver;
        border-right: .1em solid $blacker;
      }
    }
    tbody tr {
      height: 35px;
    }
  }
}

// report component
.report-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// new report component
.details-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  .button-div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: .5em;
    button {
      width: 90%;
    }
  }
  table {
    margin-bottom: 1em;
  }
  form {
    width: 60%;
    max-width: 320px;
    background-color: $red;
    border-radius: 10px;
    border: 1px solid $blacker;
    box-shadow: .1em .1em .1em $blacker, -.1em -.1em .1em $blacker, .1em -.1em .1em $blacker, -.1em .1em .1em $blacker;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    input, select {
      padding: .1em;
      margin-left: .5em;
      width: 90%;
      background-color: $white;
      border-top: .1em solid $blacker;
      border-right: .1em solid $silver;
      border-bottom: .1em solid $silver;
      border-left: .1em solid $blacker;
      border-radius: 5px;
    }
    h4 {
      margin: .1em 0 1em .5em;
      color: $white;
    }
    h2 {
      font-size: 1.2em;
      margin: 0;
      text-align: left;
      width: 55%;
      color: $white;
    }
  }
}
//settings component
.settings-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    margin: .1em 0 .5em 0;
  }
}




@media (min-width: 800px) {
  .landing-title, .app-header {
    font-size: 2rem;
  }
  .welcome-div {
    h1 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.5em;
    }
  }
  .header-div{
    .mobile-menu {
      display: none;
    }
    .full-menu {
      display: block;
      margin-left: 5em;
    }
  }
}

